<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>

  <add name="ConexionLeatherGoods" connectionString="Data Source=LAPTOP-7PGDFMTJ\EDUARDO2017;Initial Catalog=LeatherGoods;Integrated Security=True"/>
  
  <!--<add name="ASF" connectionString="Data Source=.\sqlexpress;Initial Catalog=LeatherGoods;Persist Security Info=True;User ID=admin;Password=zaq12wsx" providerName="System.Data.SqlClient" />
  <add name="DefaultConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=LeatherGoods;Persist Security Info=True;User ID=admin;Password=zaq12wsx" providerName="System.Data.SqlClient" />
  <add name="default" connectionString="Data Source=.\sqlexpress;Initial Catalog=LeatherGoods;User ID=admin;Password=zaq12wsx" providerName="System.Data.SqlClient" />-->


</connectionStrings>