<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>

  <add name="ConexionLeatherGoods" connectionString="Data Source=LAPTOP-7PGDFMTJ\EDUARDO2017;Initial Catalog=LeatherGoods;Integrated Security=True"/>
  <add name="DefaultConnection" connectionString="Data Source=LAPTOP-7PGDFMTJ\EDUARDO2017;Initial Catalog=LeatherGoods;Integrated Security=True" providerName="System.Data.SqlClient" />

  <!--<add name="ConexionLeatherGoods" connectionString="Server=tcp:mcgaserver.database.windows.net,1433;Initial Catalog=mcgadb;Persist Security Info=False;User ID=eduacosta29;Password=Javierrr29;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  <add name="DefaultConnection" connectionString="Server=tcp:mcgaserver.database.windows.net,1433;Initial Catalog=mcgadb;Persist Security Info=False;User ID=eduacosta29;Password=Javierrr29;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->
  
  <!--<add name="ASF" connectionString="Data Source=LAPTOP-7PGDFMTJ\EDUARDO2017;Initial Catalog=LeatherGoods;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="DefaultConnection" connectionString="Data Source=LAPTOP-7PGDFMTJ\EDUARDO2017;Initial Catalog=LeatherGoods;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <!--<add name="default" connectionString="Data Source=.\sqlexpress;Initial Catalog=LeatherGoods;User ID=admin;Password=zaq12wsx" providerName="System.Data.SqlClient" />-->


  
  

</connectionStrings>