@model IEnumerable<ASF.Entities.Category>

<p>
    {{'Categoria' | translate}}
</p>
<table class="table">
    <tr>
         
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @*@Ajax.ActionLink(item.Name, "ProductosXCategoria", "Product", new{id = @item.Id }, null)*@  
                <a href="/Product/ProductosXCategoria/@item.Id "> {{'@item.Name' | translate}} </a> 
            </td>
       
            @*<td>
          
            @Html.ActionLink("Buscar Productos", "Details", new { id=item.Id }) |
          
        </td>*@
        </tr>
    }

</table>